
/*primary: #110133;
danger: #00918e;
success: #5dd599;
warning: #FFDC34;*/


body{

}

form{
	margin: 0px;
}

.btn-outline-primary{
	color: #110133;
	border-color: #110133;
}

.btn-primary{
	background-color: #110133;
}

.btn-outline-success{
	color: #5dd599 !important;
	border-color: #5dd599;
}

.connection-image {
	/* Image used */
	background-image: url("../img/connection-image.jpg");
	
	/* Blur effect */
	/*filter: blur(8px);
	-webkit-filter: blur(8px);*/
	
	/* Full height */
	height: 100%;
	
	/* Center and scale the image */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}