body{
}

form{
	margin: 0px;
}

main{
	max-width: 90%;
	margin: auto;
	margin-top: 2em;
	padding-bottom: 2vh;
	min-height: 100%;
}

footer {
	position: sticky; 
	bottom: 0;
	right: 0;
	left: 0;
	background-color: #110133;
	color: #FFFFFF;
	z-index: 24;
}

.profil-image{
	background-image: url("ressources/profil-image.jpg");

	/* Full height */
	height: 100%;

	/* Center and scale the image */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.btn-outline-primary{
	color: #110133;
	border-color: #110133;
}

.btn-primary{
	background-color: #110133;
}

/*Into manage demand */
button.nav-button {
    padding: 0.5em;
    background-color: #FFF;
    border: 0px;
    color: #110133;
}

button.nav-button:hover {
	color: #00918E;
}
/* end */

.btn-outline-success{
	color: #5dd599 !important;
	border-color: #5dd599;
}

.connection-image {
	/* Image used */
	background-image: url("ressources/connection-image.jpg");

	/* Blur effect */
	/*filter: blur(8px);
	-webkit-filter: blur(8px);*/

	/* Full height */
	height: 100%;

	/* Center and scale the image */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

@media (max-width:575px) {
    .display-4 {
        font-size: 1.5rem;
    }
    .day h5 {
        background-color: #f8f9fa;
        padding: 3px 5px 5px;
        margin: -8px -8px 8px -8px;
    }
    .date {
        padding-left: 4px;
    }
}

@media (min-width: 576px) {
    .day {
        height: 14.2857vw;
    }
}
