<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>DaysOffManager</display-name>
  	<session-config> 
		<session-timeout>300</session-timeout>
		
	</session-config>
		
	
  	<servlet>
		<display-name>HomeServlet</display-name>
		<servlet-name>HomeServlet</servlet-name>
		<servlet-class>org.controllerView.HomeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HomeServlet</servlet-name>
		<url-pattern>/Home</url-pattern>
	</servlet-mapping>
	
  	<servlet>
		<display-name>ConnectionServlet</display-name>
		<servlet-name>ConnectionServlet</servlet-name>
		<servlet-class>org.controllerView.ConnectionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ConnectionServlet</servlet-name>
		<url-pattern>/Connection</url-pattern>
	</servlet-mapping>	
	
	<servlet>
		<display-name>CalendarServlet</display-name>
		<servlet-name>CalendarServlet</servlet-name>
		<servlet-class>org.controllerView.CalendarServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CalendarServlet</servlet-name>
		<url-pattern>/Calendar</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<display-name>TeamServlet</display-name>
		<servlet-name>TeamServlet</servlet-name>
		<servlet-class>org.controllerView.TeamServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TeamServlet</servlet-name>
		<url-pattern>/Team</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<display-name>HelpServlet</display-name>
		<servlet-name>HelpServlet</servlet-name>
		<servlet-class>org.controllerView.HelpServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HelpServlet</servlet-name>
		<url-pattern>/Help</url-pattern>
	</servlet-mapping>	
	
	<servlet>
		<display-name>ManageDemandServlet</display-name>
		<servlet-name>ManageDemandServlet</servlet-name>
		<servlet-class>org.controllerView.ManageDemandServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ManageDemandServlet</servlet-name>
		<url-pattern>/ManageDemand</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<display-name>ManageUserServlet</display-name>
		<servlet-name>ManageUserServlet</servlet-name>
		<servlet-class>org.controllerView.ManageUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ManageUserServlet</servlet-name>
		<url-pattern>/ManageUser</url-pattern>
	</servlet-mapping>
		
	<servlet>
		<display-name>MyProfilServlet</display-name>
		<servlet-name>MyProfilServlet</servlet-name>
		<servlet-class>org.controllerView.MyProfilServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MyProfilServlet</servlet-name>
		<url-pattern>/MyProfil</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<display-name>StatsServlet</display-name>
		<servlet-name>StatsServlet</servlet-name>
		<servlet-class>org.controllerView.StatsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StatsServlet</servlet-name>
		<url-pattern>/Stats</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>CreateUserServlet</display-name>
		<servlet-name>CreateUserServlet</servlet-name>
		<servlet-class>org.controllerView.CreateUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateUserServlet</servlet-name>
		<url-pattern>/CreateUser</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
	  <welcome-file>home.jsp</welcome-file>
	</welcome-file-list>
	
	<servlet-mapping>
   	 	<servlet-name>CalendarServlet</servlet-name>
   	 	<url-pattern>/</url-pattern>
	</servlet-mapping>
</web-app>